@model Upgrading.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentIdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentIdentityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListOfSubjects)
        </dt>
        @foreach(var u in Model.ListOfSubjects)
        {
            
                @Html.DisplayFor(model => u)
                <br />
            
        }
       
    </dl>
</div>


    <form>
        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="IdentityCardUrl" />
        <button type="submit" asp-controller="Student" asp-action="DownloadID" class="btn btn-danger">
        <i class="bi bi-download"></i> Id Copy
        </button>

        <button type="submit" asp-controller="Student" asp-action="DownloadStatement" class="btn btn-danger">
        <i class="bi bi-download"></i> Matric Statement
        </button>
    </form>
   

