@model IEnumerable<Upgrading.Models.Subjects>

@{
    ViewData["Title"] = "Index";
}
<div class="card-body border p-4">
    <div class="row pb-3">
        <div class="col-6 offset-6 text-end">
            <a asp-controller="Subject" asp-action="Create" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> Add New Subject
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        <a asp-controller="Subject" asp-action="Update" asp-route-id="@item.SubjectId" class="btn btn-success">
                            <i class="bi bi-pencil"></i> Update
                        </a>

                        <a asp-controller="Subject" asp-action="Details" asp-route-id="@item.SubjectId" class="btn btn-info">
                            <i class="bi bi-info-lg"></i> Details
                        </a>

                        <a asp-controller="Subject" asp-action="Delete" asp-route-id="@item.SubjectId" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                        @* <a asp-action="Update" asp-route-id="@item.SubjectId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

